<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
</h:head>
<h:body>
	Test:
	<h:outputText value="#{empresa.test}" />
	
	<p:outputLabel value="#{empresa.msg}" id="msg1" styleClass="msg" />

	<p:dataTable emptyMessage="Não há empresas cadastradas"
		value="#{empresa.listaEmpresas}" var="e" styleClass="order-table"
		headerClass="order-table-header"
		rowClasses="order-table-odd-row,order-table-even-row" paginator="true"
		rows="20">
		<p:column headerText="CNPJ" sortBy="#{e.empresa.CNPJ}" filterBy="#{e.empresa.CNPJ}"
			filterMatchMode="exact">
			<h:outputText value="#{e.empresa.CNPJ}" />
		</p:column>
		<p:column headerText="Razão Social" sortBy="#{e.empresa.razaoSocial}"
			filterBy="#{e.empresa.razaoSocial}" filterMatchMode="exact">
			<h:outputText value="#{e.empresa.razaoSocial}" />
		</p:column>
		<p:column headerText="UF" sortBy="#{e.empresa.uf}" filterBy="#{e.empresa.uf}"
			filterMatchMode="exact">
			<h:outputText value="#{e.empresa.uf}" />
		</p:column>
		<p:column headerText="Município" sortBy="#{e.empresa.municipio}"
			filterBy="#{e.empresa.municipio}" filterMatchMode="exact">
			<h:outputText value="#{e.empresa.municipio}" />
		</p:column>
		<p:column>
			<f:facet name="header">
                    Filial
                    </f:facet>
             #{e.empresa.tipo}
       </p:column>
		<p:column>
			<h:form id="commandForm">

				<h:commandButton value="Delete" styleClass="fs-button-portfolio"
					action="#{empresa.delete}" ajax="false">
					<f:setPropertyActionListener target="#{empresa.selectedCNPJ}"
						value="#{e.empresa.CNPJ}" />
				</h:commandButton>
				<h:commandButton value="Edit" styleClass="fs-button-portfolio"
					action="#{empresa.edit}" ajax="false">
					<f:setPropertyActionListener target="#{empresa.selectedCNPJ}"
						value="#{e.empresa.CNPJ}" />
				</h:commandButton>

			</h:form>
		</p:column>
	</p:dataTable>
</h:body>
</html>