<f:facet name="footer">
	<h:commandButton value="Atualizar" update="empresaForm"
		action="#{empresa.updateEmpresa}">
		<f:ajax
			render="razaoSocial CNPJ logradouro numero complemento 
          municipio uf telefone1 telefone2 fax"
			execute="@form" />
	</h:commandButton>
</f:facet>